/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #a9db85;
}

h1{
  text-align: center;
}
.container {
	padding: 0;
	margin-top: 40px;
}

.footer {
	margin-top: 60px;
}

ul{
  font-size: 20px;
}

blockquote{
  border-left: black solid 5px;
}

a {
	color: #2574A9;
}
/****** Logo Div Styling ******/

img {
	margin: 20px auto 0 auto;
	display: block;
}